
<div class="shop-wrap">
  <div class="full-width">
    <!-- Search Form -->
    <!-- <router-outlet></router-outlet> -->
    <app-searchbar [searchForm]="searchForm" (searchRequest)="applyFilter()" (searchStringChange)="changeSearchString($event)" (pageChange)="changePage($event)" (countChange)="changeCount($event)" (expandFilter)="toggleFilter($event)" (sidenavChange)="toggleSidenav()" [sortBy]="sortBy" [page]="page" [pageSize]="pageSize"></app-searchbar>
    <!-- <mat-progress-bar color="primary" mode="determinate" value="100" class="mt-16"></mat-progress-bar> -->
    <!-- <mat-progress-bar *ngIf="!responseReceived" mode="query" class="mb-16"></mat-progress-bar> -->
    
    <app-search-filter [searchFilterFormMap]="searchFilterFormMap" (filterFormChange)="applyFilter($event)" [isFilterOpen]="isFilterOpen"></app-search-filter>
    <!-- <app-search-filter></app-search-filter> -->
    <!-- Products container -->
    <!-- <h2 style="color: var(--primary-color);">Sample Market</h2> -->
    <!-- <h2><span style="color: var(--primary-color);">S</span>ample <span style="color: var(--accent-color);">M</span>arket </h2> -->
    <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start"
      [ngClass]="{'list-view': viewMode === 'list-view'}">
      <!-- Product Box -->
      <ng-container *ngIf="(sampleLicensingMarketService.samples$ | async)?.length <= 0 && (sampleLicensingMarketService.samples$ | async) != null"; else product>
        <div fxFlex fxLayoutAlign="center">
          <span class="fs-24">No samples match your request.</span>
        </div>
      </ng-container>
      <ng-container #product>
        <div fxLayout="row" class="product-wrap"
          *ngFor="let sample of (sampleLicensingMarketService.samples$ | async) | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index;"
          [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}"
          >
          <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
          <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
          <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
            <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                <span>{{product?.badge?.text}}</span>
              </div> -->
            <app-audio-panel [sample]="sample" type="sample"></app-audio-panel>
            
            <!-- Visible when viewMode === list-view -->
            <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
              <div class="more-info">
                <div class="more-actions mb-16">
                  <div class="product-rating">
                    <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                      [rating]="4.63"></star-rating>
                    <small class="text-muted">(140)</small>
                  </div>
                  <span fxFlex></span>
                  <button mat-icon-button>
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                </div>

                <div>
                  <ul>
                    <li>
                      <mat-icon>check</mat-icon> Heavy duty
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> Water resistance
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> Clean design
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> High quality raw materials
                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
        </div>
      </ng-container>

      <div class="products-pagination" *ngIf="count > 0">
        <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>

</div>