.my-licenses-container {
    // margin: 1rem 0.33rem 0.33rem;
    overflow: hidden;
    min-height: 1200px;
    position: relative;
    padding: 16px;
    // width: 100%;
}



.table-wrapper  {
  // border: 1px solid var(--base-primary-color);
  // border-radius: 8px;

}
.table-container {
  // min-height: 300px;
  // max-height: 300px;
  // overflow: auto;
}

table {
    // padding: 16px;
    width: 100%;
  }

  tr:hover {
    background: var(--primary-light-color);
  }
  
  tr:active {
    background: var(--primary-light-color);
    color: #fafafa !important;
  }