.mat-drawer-container {
  // background: transparent !important;
}

.snackbar {
  background: white !important;
  color: $body-color !important;
  .mat-simple-snackbar-action {
    color: $primary;
  }
}