// @import '../themes/init';

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: map-get($default-accent-palette, main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: map-get($default-accent-palette, darker);
}

::selection {
    background: map-get($default-accent-palette, main); /* WebKit/Blink Browsers */
    color: #fafafa;
  }
  ::-moz-selection {
    background: map-get($default-accent-palette, main); /* Gecko Browsers */
    color: #fafafa;
    
}
