<section fxFlex fxLayout="column" fxLayoutGap="40px" class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center" class="header">
      <!-- <mat-card style="border: 3px solid;">
      </mat-card> -->
      <div [fxLayout]="align === 'left' ? 'row' : 'row-reverse'" fxLayoutAlign="center center">
        <div fxFlex="30" fxLayout>
          <ng-content select="[image]"></ng-content>
          <!-- <img class="left-image" src="../../../../assets/images/backgrounds/featuresSounds-artists_2x.png" alt=""> -->
        </div>
        <div fxFlex="70" fxLayout="column">
          <h4 *ngIf="firstTitle"  class="text-center first-title">{{firstTitle}}</h4>
          <h2 *ngIf="secondTitle" class="text-center second-title">{{secondTitle}}</h2>
        </div>
      </div>


      <!-- <mat-card style="border: 4px solid;">
      </mat-card> -->

      <!-- <ng-content select="[headerText]"></ng-content> -->
    </div>

    <!-- <> -->
    <!-- <div class="pl-16"> -->
      <ng-content select="[content]"></ng-content>
    <!-- </div> -->
    <!-- </ng-container> -->
    <!-- <mat-divider></mat-divider> -->
  </section>