<section fxFlex fxLayout="column" fxLayoutGap="40px" class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center" class="header">
      <!-- <mat-card style="border: 3px solid;">
      </mat-card> -->
        <h4  class="text-center first-title">{{firstTitle}}</h4>

      <!-- <mat-card style="border: 4px solid;">
      </mat-card> -->
        <h2 class="text-center second-title">{{secondTitle}}</h2>

      <!-- <ng-content select="[headerText]"></ng-content> -->
    </div>
    <!-- <> -->
      <ng-content select="[content]"></ng-content>
    <!-- </ng-container> -->
  </section>