@import '../variables';
@import '../../scss/themes/init';

.header-topnav {
  position: sticky;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 999;
// background: $body-color;
// color: #FFFFFF !important;

  .container {
    padding: 0;
  }
  .topbar-branding {
    float: left;
    // height: 48px;
    // padding: 2px 4px 2px 4px;
    margin-right: 32px;
    margin-left: 16px;
    // border-right: 2px solid rgba(202, 202, 202, 1);
    // font-family: monospace;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 40px;
    // color: map-get($default-accent-palette, main);
    // color: #FFFFFF;
    // background: #FFFFFF;
    // text-shadow: 2px 2px 0 $body-color, 2px -2px 0 $body-color, -2px 2px 0 $body-color, -2px -2px 0 $body-color, 2px 0px 0 $body-color, 0px 2px 0 $body-color, -2px 0px 0 $body-color, 0px -2px 0 $body-color;
    img {
      height: 100%;
      width: auto;
    }
  }
  .topnav {
    // margin-left: -19px;
    display: flex;
    align-items: center;
    height: 78px;
    
    .trigger-text-container {
      min-width: 150px;
    }
  }
  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: 0.67rem;
  }
}

.menu-item {
  font-weight: 700;
  background: map-get($default-primary-palette , main);
  // border: 2px dashed $body-color;
  color: #FFFFFF;
}

.menu-item:hover {
  background: map-get($default-accent-palette , main) !important;

}

@media (max-width: 959px) {
  .header-topnav-right {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

[dir="rtl"] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}


.login-button {
  color: var(--light-theme) !important;
  // background: var(--primary-light-color) !important;
  // background: var(--light-theme) !important; 
  min-width: 250px !important;
  height: 100%;
  font-weight: 700 !important;
  letter-spacing: 3px !important;
  // border: 1px solid !important;
  // border-radius: 32px !important;

}