@import '../variables';

.header-topnav {
  position: sticky;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 999;
// background: #333333;

  .container {
    padding: 0;
  }
  .topbar-branding {
    float: left;
    // height: 48px;
    padding: 2px 4px 2px 4px;
    margin: 4px 8px 4px 4px;
    // border-right: 2px solid rgba(202, 202, 202, 1);
    font-family: monospace;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
background: #FFFFFF;
text-shadow: 2px 2px 0 $body-color, 2px -2px 0 $body-color, -2px 2px 0 $body-color, -2px -2px 0 $body-color, 2px 0px 0 $body-color, 0px 2px 0 $body-color, -2px 0px 0 $body-color, 0px -2px 0 $body-color;
    img {
      height: 100%;
      width: auto;
    }
  }
  .topnav {
    // margin-left: -19px;
    display: flex;
    align-items: center;
    height: 48px;
    
    .trigger-text-container {
      min-width: 150px;
    }
  }
  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: 0.67rem;
  }
}

@media (max-width: 959px) {
  .header-topnav-right {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

[dir="rtl"] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}
