.navigation-top {
  .nofication-panel {
    padding-top: 48px;
  }
}

// .shop-filters-wrap {
//   margin-top: 7px;
//   padding: 0 0.5rem 0 0.333rem;


.mat-expansion-panel {

  .mat-expansion-panel-body {
    padding: 0 0 0 24px;
  }
  .product-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    li {
      cursor: pointer;
      padding: 5px;
      text-transform: capitalize;
    }
  }
  .genres {
    li {
      width: 50%;
      max-width: 50%;
      float: left;
      padding: 5px 0;
    }
  }
}
// }

.notification-list {
  min-width: 240px;
}
.notification-list .notific-item a {
  outline: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.notification-list .notific-item .message {
  font-size: .875rem !important;
}
.notification-list .notific-item .time {
  font-size: .75rem !important;
}