<footer class="main-footer" style="position: relative;">
  <div class="container-dynamic d-flex" style="">
    <!-- <div class="toolbar" fxLayout="row" fxLayoutAlign="center center">
      
      <div class="player" fxLayout="row nowrap">
          <button 
          class="player-button" 
          (click)="previousNext('prev')"
          [disabled]="isFirst()" 
          type="button"
          mat-icon-button 
          onclick="this.blur()">
            <mat-icon class="skip-previous player-icon" aria-hidden="false" aria-label="skip previous track">skip_previous_outline</mat-icon>
          </button>
        <button *ngIf="!(playStateControlService.playState$ | async)" 
                type="button" 
                mat-icon-button 
                (click)="play()" 
                [disabled]="sampleLicensingMarketService.samplesLoading$ | async"
                onclick="this.blur()" 
                class="player-button">
          <mat-icon
            class="player-icon" aria-hidden="false"
            aria-label="Example home icon">
            play_arrow_outline
          </mat-icon>
        </button>
          <button 
            *ngIf="(playStateControlService.playState$ | async)"
            type="button" 
            mat-icon-button 
            (click)="pause()" 
            onclick="this.blur()" 
            class="player-button">
            <mat-icon
            class="player-icon" 
            aria-hidden="false"
            aria-label="Example home icon">
            pause
          </mat-icon>
          </button>
        
            <button (click)="previousNext('next')" type="button" mat-icon-button onclick="this.blur()"
              [disabled]="isLast()" class="player-button next-button-player">
              <mat-icon class="skip-next player-icon icon-control-end rewind-icon" aria-hidden="false"
                aria-label="Example home icon">skip_next</mat-icon>
            </button>
      </div>
      <div class="player-tools" fxFlex fxLayout="row nowrap" fxLayoutALign="start center">
        <button mat-icon-button (click)="toggleMute()" [disabled]="sampleLicensingMarketService.samplesLoading$ | async" type="button" mat-icon-button
            onclick="this.blur()" class="mute-button" style="">
            <mat-icon inline="true" class="mute-icon" aria-hidden="false" aria-label="Example home icon">{{getMute() ? 'volume_off' : 'volume_mute'}}</mat-icon>
          </button>
      </div>
    </div> -->
    <!-- <div> -->
      <div [fxHide.lt-md]="true" class="waveform-container" #waveFormContainer>
        <div id="waveform" #waveform>
          
        </div>

      <!-- </div> -->

    </div>
    
    <!-- <ng-container *ngFor="let sample of sampleLicensingMarketService.samples$ | async">
    <div  *ngIf="sample?.sampleID === (playStateControlService.currentSampleID$ | async)" class="current-audio-container">
      <div fxLayoutAlign="center center">
        <img class="mat-elevation-z1" src="{{'http://localhost:9090/api/web/public/media/image/' + sample?.sampleID}}" alt="">
      </div>  
        <div class="current-audio-info" fxLayout="column">
          <span fxLayout="row">{{sample?.artistName}}</span>
          <span fxLayout="row">{{sample?.title}}</span>
        </div>
      </div>
    </ng-container> -->
    
  </div>
  <div fxLayout fxLayoutAlign="space-between" class="player-top mat-elevation-z9" style="z-index: -1;">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="center center">
    
    <div class="player" fxLayout="row nowrap">
        <button 
        
        class="player-button" 
        (click)="previousNext('prev')"
        [disabled]="isFirst()" 
        type="button"
        mat-icon-button 
        onclick="this.blur()">
          <mat-icon class="skip-previous player-icon" aria-hidden="false" aria-label="skip previous track">skip_previous_outline</mat-icon>
        </button>
      <button *ngIf="!(playStateControlService.playState$ | async)" 
              type="button" 
              mat-icon-button 
              (click)="play()" 
              [disabled]="audioService.audioUnitsLoading$ | async"
              onclick="this.blur()" 
              class="player-button">
        <mat-icon
          class="player-icon" aria-hidden="false" 
          aria-label="Example home icon">
          play_arrow_outline
        </mat-icon>
      </button>
        <button 
          *ngIf="(playStateControlService.playState$ | async)"
          type="button" 
          mat-icon-button 
          (click)="pause()" 
          onclick="this.blur()" 
          class="player-button">
          <mat-icon color="primary"
          class="player-icon" 
          aria-hidden="false"
          aria-label="Example home icon">
          pause
        </mat-icon>
        </button>
      
          <button (click)="previousNext('next')" type="button" mat-icon-button onclick="this.blur()"
            [disabled]="isLast()" class="player-button next-button-player">
            <mat-icon class="skip-next player-icon icon-control-end rewind-icon" aria-hidden="false"
              aria-label="Example home icon">skip_next</mat-icon>
          </button>
    </div>
    <div class="player-tools" fxFlex fxLayout="row nowrap" fxLayoutALign="start center">
      <button mat-icon-button (click)="toggleMute()" [disabled]="audioService.audioUnitsLoading$ | async" type="button" mat-icon-button
          onclick="this.blur()" class="mute-button" style="">
          <mat-icon inline="true" class="mute-icon" aria-hidden="false" aria-label="Example home icon">{{getMute() ? 'volume_off' : 'volume_mute'}}</mat-icon>
        </button>
    </div>
  </div>
  <ng-container *ngFor="let audioUnit of audioUnits">
    <div  *ngIf="audioUnit?.audioUnit.audioUnitID === (playStateControlService.currentSampleID$ | async)" class="current-audio-container">
      <div fxLayoutAlign="center center">
        <img class="" src="{{'http://localhost:9090/api/web/public/media/image/' + audioUnit?.audioUnit.audioUnitID}}" alt="">
      </div>  
        <div class="current-audio-info" fxLayout="column">
          <span fxLayout="row">{{audioUnit?.audioUnit.artistAlias.artistName}}</span>
          <span fxLayout="row">{{audioUnit?.audioUnit.title}}</span>
        </div>
      </div>
    </ng-container>
  <!-- <div> -->
  </div>
</footer>