@import '../../../../assets/styles/scss/variables';
// .dz-file-over {
//     border: dotted 3px rgb(12, 12, 90);
// }

.header {
    font-weight: 300;
    font-weight: 900;
    // color: #FFFFFF;
    // background: #FFFFFF;
    // text-shadow: 2px 2px 0 $body-color, 2px -2px 0 $body-color, -2px 2px 0 $body-color, -2px -2px 0 $body-color, 2px 0px 0 $body-color, 0px 2px 0 $body-color, -2px 0px 0 $body-color, 0px -2px 0 $body-color;
}

.sample-info {
    > mat-card-title {
        font-size: 1.2rem;
        .file-type {
            // background: white;
            // border-radius: 4px;
            // margin-left: auto;
            // padding: 2px 8px;
        }
    }
}

.samples-form {
    width: 100%;
    img {
        border-radius: 50%;
        height: 100%;
        width: auto;
    }
}

