<div class="shop-filters-wrap">
  <!-- <form > -->
    <!-- <mat-card class="full-width"> -->
    <h1 class="title py-8 pl-8 fw-900 sidebar-haeder" color="primary">Audio Licenses</h1>
    <p class="pl-16 pb-8">
      Let us introduce you to the BeatBlender Sample Licensing Market. Worldwide the first market to purchase
      commercial royalities for quality samples whithout spending a dime.
    </p>
    <h2 class="title pl-16 fw-900">For Free</h2>
    <p class="pl-16 pb-8">
      Let us introduce you to the BeatBlender Sample Licensing Market. Worldwide the first market to purchase
      commercial royalities for quality samples whithout spending a dime.
    </p>
    <!-- </mat-card> -->
    <!-- <h2 class="title pb-16 pl-16">Welcome to Sample Licensing Market!</h2> -->
    <h2 class="title pb-16 pl-16 fw-900">This doesn't sounds possible...</h2>
    <p class="pl-16 pb-8">
      Because there wasn't a licensing system like this before on the market. Due to the our innovative licensing
      system is BeatBlender the most producer-friendly platform that ever existet. Its use leads to a free
      sampling and producing culture.
    </p>
    <h2 class="title pb-16 pl-16 fw-900">What are you?</h2>
    <p class="pl-16 pb-8">
      BeatBlending is a invitation to join the movement of a free sampling culture, where every musician benefits
      from contributing to and retrieving resources from this platform. That's our guarantee!
    </p>

    <h2 class="title pb-16 pl-16 fw-900">Lorem ipsum dolor sit?</h2>
    <p class="pl-16 pb-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eveniet dolore voluptatem ipsam dolorem
      non molestias architecto fugit vitae rerum.
    </p>

    <h2 class="title pb-16 pl-16 fw-900">Lorem ipsum dolor sit amet?</h2>
    <p class="pl-16 pb-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit error praesentium eius nemo placeat
      nulla maxime necessitatibus nihil, molestiae quos accusantium, aliquam ab natus a cumque dignissimos
      doloremque quasi vitae.
    </p>

    <h2 class="title pb-16 pl-16 fw-900">Lorem ipsum dolor sit amet consectetur?</h2>
    <p class="pl-16 pb-8">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam expedita exercitationem dignissimos
      veritatis similique vel.
    </p>

  <!-- </form> -->
</div>