<div class="shop-filters-wrap " fxLayout="column" fxLayoutGap="5px">
  <app-sidenav [items]="sampleMarketItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
      <!-- <div fxLayout="column" fxLayoutAlign="center start" style="position: relative;" class="full-width">
        <h2 class="title pt-8 pl-8 fw-900 sidebar-haeder lh-28">How To Get A License - The Quick Guide</h2>
        <a  fxLayoutAlign="center center" class="documentation-link ml-auto" href="#"><code class="py-0">Read more<mat-icon inline="true">forward</mat-icon> </code> </a>  
      </div> -->
    
    <!-- <div fxLayout="column" fxLayoutGap="10px" style="height: fit-content;" class="">
      <h3 class="pl-8" style="color: rgb(49, 49, 49);">BeatBlender - A mission to change The System</h3>
      <p class="pl-8">
        BeatBlender is a project that was created with the aim of making a world of commercial music sampling accessible to everyone. It creates a music licensing system  with the aim of creating the maximum variety of music. Not just for you, but for everyone.
      </p>
      <div fxLayout="row" class="pl-8">
        <div  style="width: 80px; height: 80px;" class="">
          <mat-icon inline="true" svgIcon="undraw-contract"></mat-icon>
        </div>
        <p class="pl-8" style="line-height: 24px;">If you're a creative producer, read what BeatBlender has to offer you as an artist. It may completely change the way you think about the <code> <strong>Value of M usic</strong></code> .</p>
      </div>
      <p class="pl-8">BeatBlender is a platform that creates the world's first <code> <strong>Sample Licensing System</strong> </code></p>
      
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="pl-8">
        <div  style="width: 80px; height: 80px;" class="">
          <mat-icon inline="true" svgIcon="undraw-contract"></mat-icon>
        </div>  
        <span fxFlex class="pl-8" style="background: #ededed;">There is exactly <strong style="color: #658566;">one universal licence</strong> for each sample.</span>
      </div>
      <span class="pl-8" style="line-height: 20px;">Each licence consists of a <strong>Basic Licence</strong> and an <strong>Extension Option</strong>. Initially the <strong>Extension Option</strong> is not activated. However, it can be activated by contributing <strong>Samples</strong> or your <strong>Finished Tracks</strong> to BeatBlender. Read more <a href="#">here</a>.</span>
      <h3 class="pl-8" style="color: rgb(49, 49, 49);"><span style="color: #658566;">1.1</span> What do I have to do?</h3>
      <p class="mx-8 pl-8" style="background: #f0eeee; line-height: 24px; color: rgb(49, 49, 49);">Very Simple. Just Download the Sample. You immediately receive the basic licence, which already guarantees you an incredible amount of commercial rights of use without paying any money.</p>
      <h3 class="pl-8" style="color: rgb(49, 49, 49);"><span style="color: #658566;">1.2</span> Where can I download the license and the sample?</h3>
      
      <p class="mx-8 pl-8" style="background: #f0eeee; line-height: 24px; color: rgb(49, 49, 49);">You can download the Basic License and the corresponding sample under <br><code>My Area.</code></p>

    </div> -->
    <!-- <div fxLayout="column" fxLayoutGap="10px" style="height: fit-content;" class="pl-8 ">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div  style="width: 64px; height: 64px;" class="pl-8">
          <mat-icon inline="true" svgIcon="undraw-agreement"></mat-icon>
        </div>  
        <span class="pl-16" style="line-height: 30px;"><strong style="font-size: 20px; font-weight: 700;">2.</strong> Produce your own Track with one or multiple Samples under the<code>Basic License</code> </span>               
      </div>
      
      <p class="pl-8" style="line-height: 30px;">
        When you finished your Track, the Basic License already allows 
         <code>Upload</code> your Track to our <br> <code>Music Platform</code>
      </p>
    </div> -->
    
    <!-- <div fxLayout="column" fxLayoutGap="10px" style="height: fit-content;" class="pl-8 ">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div  style="width: 64px; height: 64px;" class="pl-8">
          <mat-icon inline="true" svgIcon="undraw-terms"></mat-icon>
        </div>  
        <span class="pl-16" style="line-height: 30px;"><strong style="font-size: 20px; font-weight: 700;">3.</strong> Start Earning Money.</span>
               
      </div>
      
      <p class="pl-8" style="line-height: 30px;">
        Without having anything payed for the samples yet, you can already generate Stream Income on our <br><code>Music Platform</code>  
      </p>
    </div> -->
    <!-- <div fxLayout="column" fxLayoutGap="10px" style="height: fit-content;" class="pl-8 ">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div  style="width: 64px; height: 64px;" class="pl-8">
          <mat-icon inline="true" svgIcon="undraw-agreement"></mat-icon>
        </div>  
        <span class="pl-16" style="line-height: 30px;"><strong style="font-size: 20px; font-weight: 700;">4.</strong>Earn License Extension Points</span>
               
      </div>
      
      <p class="pl-8" style="line-height: 30px;">
        Your <code>Basic License</code> has an Extension Option to a <br><code>Full License</code>. You earn <code>License Extension Points (LEP) </code>depending on how much your samples get downloaded.
      </p>
    </div> -->
</div>