
@import '../../../../assets/styles/scss/variables';

.player-widget {
  transition: background $transitionDuration $transitionTiming;
    // background: rgb(251, 251, 251);
    // background: #dce6dd !important;
    cursor: pointer;
    height: 64px;
    width: 100%;
    > img {
      width: 64px;
      height: 100%;
      object-fit: cover;
    }

    .slider-container {
      .slider {
        width: 90%;
        height: 20%;
        padding: 0;
        margin-top: auto;
        .mat-slider-thumb-container {
          transition: none !important;
        }

        .mat-slider-thumb {
          display: none;
          // background: red !important;
          // width: 10px !important;
          // height: 20px !important;
          // border-radius: 0 !important;
          // bottom: -10px !important;
          // right: -7px !important;
        }
        .mat-slider-wrapper {
          top: 0 !important;
          left: 0 !important;
          right: 0 !important;
          width: 100%;
          height: 100% !important;
        }

        .mat-slider-track-wrapper,
        .mat-slider-track-fill {
          height: 100% !important;
        }

        .mat-slider-track-fill {
          background: #304156;
          transition: none !important;
        }

        .mat-slider-track-background {
          height: 100% !important;
          transition: transform 0.08s linear !important;
          transform: none !important;
        }

        .mat-slider-ticks-container {
          display: none;
        }
        .mat-slider-track-background,
        .cdk-focused .mat-slider-track-background {
          // background: rgb(233, 233, 233) !important;
          background-color: rgba(240, 240, 240, 0.6);
          // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23f0f0f0' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23f0f0f0' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
          // -webkit-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out;
        }
      }
    }

    // .sliderwrapper {
    //   display: flex;
    //   height: 15%;
    //   width: 100%;
    // .slider {
    //   padding: 0;
    // padding-bottom: 1vh;
    // height: 100%;
    // width: 100%;
    // .slider::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   appearance: none;
    //   width: 0;
    //   height: 0vh;
    //   border-radius: 50%;
    //   background: rgb(3, 168, 124);
    //   cursor: pointer;
    //   visibility: hidden;
    // }

    // ::ng-deep .mat-slider-thumb-container {
    //   transition: none !important;
    // }

    // ::ng-deep .mat-slider-thumb {
    //   background: var(--primary) !important;
    //   width: 10px !important;
    //   height: 20px !important;;
    //   border-radius: 0 !important;
    //   bottom: -10px !important;
    //   right: -7px !important;
    // }

    // ::ng-deep .mat-slider-wrapper {
    //   top: 0 !important;
    //   left: 0 !important;
    //   right: 0 !important;
    //   width: 100%;
    //   height: 100% !important;
    // }

    // ::ng-deep .mat-slider-track-wrapper,
    // ::ng-deep .mat-slider-track-fill {
    //   height: 100% !important;
    // }

    // ::ng-deep .mat-slider-track-fill {
    //   transition: none !important;

    // }

    // ::ng-deep .mat-slider-track-background {
    //   height: 100% !important;
    //   transition: transform 0.08s linear !important;
    //   transform: none !important;

    // }

    // ::ng-deep .mat-slider-ticks-container {
    //   display: none;
    // }
    // ::ng-deep .mat-slider-track-background, .cdk-focused .mat-slider-track-background {
    //   background: var(--theme-super) !important;
    // }
    // }

    // }

    .play-button {
      width: 64px;
      height: 64px;
      // line-height: ;
      cursor: pointer;
      // outline: none;
      background: transparent;
      // background: white;
      // background: map-get($default-accent-palette, main);
      // color: #fafafa;
      // background: #fafafa;
      border: none;
      padding: 0;
      border-radius: 0;
      .mat-icon {
        font-size: 32px;
        width: fit-content;
        height: fit-content;
      }
    }
}