<div class="mat-box-shadow player-widget" fxLayout="row" fxLayoutAlign="space-between">
    <!-- [routerLink]="['/shop/products/', product._id]" -->
    <!-- <div fxLayout="row" fxLayoutAlign="center center" class="category">
    </div> -->
    <!-- <img [src]="sample?.imageDownLoadUri" alt=""> -->
    <img src="{{'http://localhost:9090/api/web/public/media/image/' + sample?.sampleID}}" alt="">
    <div fxFlex="1 1 auto" class="slider-container" fxLayout="row" fxLayoutAlign="center center">
      <!-- <mat-slider #audioSlider thumbLabel="true" class="slider" min="0"
        [max]="sample?.sampleID === (playStateControlService.currentSampleID$ | async) ? getDuration() : durationFallback()"
        [value]="sample?.sampleID === (playStateControlService.currentSampleID$ | async) ? getCurrentTime() : currentTimeFallback()"
        step="0.02" (input)="onSliderChangeEnd($event)"
        [disabled]="sample?.sampleID !== (playStateControlService.currentSampleID$ | async)">
      </mat-slider> -->
      <!-- [value]="getValue(sample?.sampleID)"
                [max]="getMax(sample?.sampleID)" -->
      <!-- value="0"
              max="100"  -->
    </div>
    <!-- style="font-size: 32px;" -->
    <button mat-button class="play-button fs-32" fxLayout="row" fxLayoutAlign="center center"
      (click)="playState ? pause(sample?.sampleID === currentSampleID, sample?.sampleID) : play(sample?.sampleID === currentSampleID, sample?.sampleID)">
      <mat-icon inline="true"
        [ngStyle]="{color: sample?.sampleID === (playStateControlService.currentSampleID$ | async) ? '#6b9b6d' : 'rgb(202, 202, 202)'}">
        {{sample?.sampleID === (playStateControlService.currentSampleID$ | async) &&
        (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}
      </mat-icon>
    </button>
    <!-- <button mat-raised-button>Download</button> -->
    <!-- <button *ngIf="(playStateControlService.playState$ | async)" class="play-button" fxLayout="row" fxLayoutAlign="center center" (click)="pause()">
          <mat-icon [ngStyle]="{color: sample?.sampleID === (playStateControlService.currentSampleID$ | async) ? '#304156' : 'rgb(202, 202, 202)'}">{{sample?.sampleID === (playStateControlService.currentSampleID$ | async) && (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}</mat-icon>
        </button> -->
  </div>