::ng-deep .mat-sidenav-content {
    width: 100% !important;
}
.introduction-container {
    // background: yellow; 
    width: 100%; 
    height: 100%;
    h1, h2, h3 {
        font-weight: 700;
        margin: 16px 0;
        color: #6a6c74;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    
    .card-section {
        width: 100%;
        // background: pink;
    }
    .card-container {
        width: 33.33%;
    }

    mat-card {
        min-height: 200px;
        p {
            color: #444;
            text-align: center;
        }
        
    }
    
    mat-card-title {
        // color: #502222;
        font-size: 20px;
        text-align: center;
    }
    
    mat-card-content {
        // background: #dce6dd;
        
    }

    mat-card-actions {
    }

    p {
    }

}

