@import "../../../../../assets/styles/scss/variables";
// @import '../../../../../assets/styles/scss/themes/init';

h1 {
    // color: map-get($default-primary-palette, main);
    // color: $bod;
}

.shop-filters-wrap {
    margin-top: 7px;
    padding: 0 0.5rem 0 0.333rem;
    > div {
        h3, h4 {
            font-weight: 700;
            color: #658566;
            // font-size: 20px;
        }
        p {
            line-height: 24px !important;
            // font-size: 18px;
        }
        cursor: pointer;
        &:hover {
            // transform: translateX(5px);
            // transition: all $transitionDuration $transitionTiming;
            background: #658566;
            color: #050429;
        }
        code {
            padding: 2px;
            color: #658566;
            // line-height: 14px;
        }
        &:hover code {
            background: #658566;
            color: #000;
            text-decoration: underline;
            color: #fafafa;
        }
        p:hover {
            // background: #dce6dd !important;
            background:  rgba(0, 0, 1, 0.2) !important;
            color: #fafafa;
        }
    }
    .documentation-link {
        // position: absolute;
        // right: 5px;
        // bottom: 5px;
        color: #658566;
    }
}

.mat-expansion-panel-body {
    padding: 0 0 0 24px;
}

h1.title {
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

::ng-deep .mat-drawer-content {
    width: 100% !important;
}
@media (max-width: 960px) {
    .shop-filters-wrap {
        margin: 0;
        padding: 0;
    }
}
